@import 'https://fonts.googleapis.com/css2?family=Grandstander:wght@300;400;700&display=swap';
@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
@import "@/Styles/Variables.scss";
* {
	box-sizing: border-box;
	::after,
	::before {
		box-sizing: border-box;
	}
}
html {
	height: 100%;
}
body {
	min-height: 100%;
	margin: 0;
	background-color: var(--bg);
	color: var(--primary);
	font-size: 16px;
	font-family: 'Grandstander', sans-serif;
	#app {
		height: calc(100 * var(--vh));
		padding: 20px;
	}
}
input,
textarea,
button {
	font-size: 18px;
	font-family: 'Grandstander', sans-serif;
	background: transparent;
	border: none;
	margin: 10px 0;
	padding: 10px;
	outline: none;
}
@mixin placeholder {
	&::placeholder {
		transition: all 0.2s ease;
	}
	&:focus::placeholder {
		opacity: 0;
		letter-spacing: 3px;
	}
}
input {
	border-bottom: 2px solid var(--decorative);
	color: var(--primary);
	@include placeholder();
}
textarea {
	border: 2px solid var(--decorative);
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	color: var(--primary);
	@include placeholder();
}
button {
	background-color: var(--decorative);
	color: var(--bg);
	font-weight: bold;
	border-radius: 10px;
	transition: transform 0.1s ease;
	&:active {
		transform: scale(0.95);
	}
}