@import 'https://fonts.googleapis.com/css2?family=Grandstander:wght@300;400;700&display=swap';

@import "@/Styles/Variables.scss";
* {
	box-sizing: border-box;
	::after,
	::before {
		box-sizing: border-box;
	}
}
body {
	margin: 0;
	padding: 20px;;
	background-color: $bg;
	color: $primary;
	font-size: 16px;
	font-family: 'Grandstander', sans-serif;
}

input,
textarea,
button {
	font-size: 18px;
	font-family: 'Grandstander', sans-serif;
	background: transparent;
	border: none;
	margin: 10px;
	padding: 10px;
	outline: none;
}
@mixin placeholder {
	&::placeholder {
		transition: all 0.2s ease;
	}
	&:focus::placeholder {
		opacity: 0;
		letter-spacing: 3px;
	}
}
input {
	border-bottom: 3px solid rgb($decorative, 0.5);
	color: $primary;
	@include placeholder();
}
textarea {
	border: 3px solid rgb($decorative, 0.5);
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	color: $primary;
	@include placeholder();
}
button {
	background-color: $decorative;
	color: $bg;
	font-weight: bold;
	border-radius: 10px;
	transition: transform 0.1s ease;
	&:active {
		transform: scale(0.95);
	}
}