@keyframes elation {
	0% {
		opacity: 0;
		transform: scale(0.9) translateY(50px);
	}
	100% {
		opacity: 1;
		transform: scale(1) translateY(0px);
	}
}
@keyframes writeElation {
	0% {
		opacity: 0;
		transform: scale(0.9) translate(calc(-50% - 50px), 50px);
	}
	100% {
		opacity: 1;
		transform: scale(1) translate(-50%, 0);
	}
}
@keyframes bounce {
	0% {
		opacity: 0;
		transform: scale(0)
	}
	50% {
		opacity: 1;
		transform: scale(1.1)
	}
	100% {
		opacity: 1;
		transform: scale(1)
	}
}
@keyframes deleteBounce {
	0% {
		opacity: 0;
		transform: translateY(-50%) scale(0);
	}
	50% {
		opacity: 1;
		transform: translateY(-50%) scale(1.1);
	}
	100% {
		opacity: 1;
		transform: translateY(-50%) scale(1);
	}
}
@keyframes opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes moveLeft {
	0% {
		opacity: 0;
		transform: scale(0.5) translateX(-50px);
	}
	100% {
		opacity: 1;
		transform: scale(1) translateX(0px);
	}
}